extends layout

mixin ability-row(full_name, short_name)
  tr
    td.right 
      label.right(for='#{short_name}') #{full_name}
    td
      input.input-mini(id='#{short_name}',type='number',name='#{short_name}',placeholder='base',ng-model="user.stats.#{short_name}",ng-change="setStatTotal('#{short_name}')",integer,min=0,max=30)
    td
      input.input-mini(id='#{short_name}-racial',type='number',name='#{short_name}-racial',placeholder=0,ng-model="user.statsRacial.#{short_name}",ng-change="setStatTotal('#{short_name}')",integer,min=-16,max=16)
    td
      span(id='#{short_name}-enhance') 0
    td
      span(id='#{short_name}-other') 0
    td
      span(id='#{short_name}-total',class='badge badge-inverse') {{user.statsTotal.#{short_name}}}
    td
      span(class='#{short_name}-mod badge') {{user.statsModifier.#{short_name}}}

mixin defense-row(full_name, short_name, stat)
  tr
    td.right 
      label.right(for='#{short_name}') #{full_name}
    td
      input.input-mini(id='#{short_name}',type='number',name='#{short_name}',placeholder='base',ng-model="user.#{short_name}",integer,min=0,max=50)
    td
      span(class='badge') {{user.statsModifier.#{stat}}}
    td
      span(id='#{short_name}-total',class='badge badge-inverse',ng-bind="#{short_name}Total()")
      
block content

  div.row-fluid(ng-controller="userController", ng-init-data='{"id":"#{id}"}')
    div.row-fluid
      div.span6
        h3 Core abilities

    div.row-fluid
      div.span2
        label.right(for='user_id') Name
      div.span10
        input#user_id(type='text',name='id',ng-disabled="true",value='#{id}')
  
    div.row-fluid
      div.span2
        label.right(for='alignments') Alignment
      div.span10
        select#alignments(name='alignments',ng-model='user.alignment',ng-options='alignment.id as alignment.name for alignment in alignments')

    div.row-fluid
      div.span2
        label.right(for='races') Race
      div.span10
        select#races(name='races',ng-model='user.race',ng-options='race.id as race.name for race in races',ng-change="setRace()")
    
    div.row-fluid
      div.span2
        label.right Size
      div.span10
        span.badge(ng-bind="user.size")
  
    div.row-fluid
      div.span2
        label.right Speed
      div.span10
        span.badge(ng-bind="user.speed")
        
    div.row-fluid
      div.span6
        h3 Ability Scores

    div.row-fluid
      div.span6
        table.table.table-condensed
          thead
            tr
              th
              th Base
              th Racial
              th Enhance
              th Other
              th Total
              th Modifier
          tbody
            mixin ability-row('Strength', 'str')
            mixin ability-row('Dexterity', 'dex')
            mixin ability-row('Constitution', 'con')
            mixin ability-row('Intelligence', 'int')
            mixin ability-row('Wisdom', 'wis')
            mixin ability-row('Charisma', 'cha')
  
    div.row-fluid
      div.span6
        h3 Attacks
      
    div.row-fluid
      div.span6
        table.table.table-condensed
          thead
            tr
              th
              th 
              th 
              th Total
          tbody
            tr
              td
              td
              td
                label.right.control-label(for='bab') Base Attack Bonus
              td
                input#bab.input-mini(type='number',name='bab',placeholder='base',ng-model="user.bab",integer,min=0,max=50)
            tr
              td
              td
              td.right Melee:
              td 
                span(id='bab-melee',class='badge badge-inverse',ng-bind="meleeBase()")
            tr
              td
              td
              td.right Ranged:
              td 
                span(id='bab-ranged',class='badge badge-inverse',ng-bind="rangedBase()")
            tr
              td
              td CMB
              td BAB:
                span(class='bab-mod badge',ng-bind="user.bab")
                span &nbsp&nbsp;STR: 
                span(class='str-mod badge',ng-bind="user.statsModifier.str")
              td
                span#cmb-total.badge.badge-inverse(ng-bind="CMB()")
            tr
              td
              td CMD
              td Base:
                span.badge 10
                span BAB: 
                span(class='bab-mod badge',ng-bind="user.bab")
                span &nbsp;&nbsp;STR: 
                span(class='str-mod badge',ng-bind="user.statsModifier.str")
                span&nbsp;&nbsp;DEX:
                span(class='dex-mod badge',ng-bind="user.statsModifier.dex");
              td
                span#cmd-total.badge.badge-inverse(ng-bind="CMD()")

    div.row-fluid
      div.span6
        h3 Defenses

    div.row-fluid
      div.span6
        table.table.table-condensed
          thead
            th
            th Base
            th Ability Mod
            th Total
          tbody
            mixin defense-row('Reflex', 'ref', 'dex')
            mixin defense-row('Fortitude', 'fort', 'con')
            mixin defense-row('Will', 'will', 'wis')

    div.row-fluid
      div.span6
        h3 Skills
    
        div.row-fluid
          div.span3
            b Name
          div.span3
            b Ranks
            
        div.row-fluid(ng-repeat="skill in skills | filter: { multi:false }")
          div.span3
            label(ng-bind="skill.name")
          div.span3
            input.input-mini(type='number',placeholder='0',ng-model="user.skills[skill.id]",integer,min=0,max=40)
        
        // div.row-fluid(ng-repeat="skill in skills | filter: { multi:true } | subtype in skill.subtypes")
        //   div.span3
        //     p(ng-bind="skill.name")
        //     p(ng-bind="subtype")
        //   div.span3 Input here

block script

  script(src='/js/app.js')
  script(src='/js/controllers.js')
  script(src='/js/directives.js')

  script.
    $(function() {
      // jquery onstart code here

    });

